
.header-linear{
    position: absolute;
    width: 100%;
    background: linear-gradient(90.93deg, var(--color-accent-dark) 18.18%, rgba(9, 18, 66, 0.2) 64.92%);
    height: 100vh;
    z-index: 2;
}
.header-img{
    top: 10%;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("../../../public/pexels-lkloeppel-577696.png") center center/cover no-repeat;
}
.header-text{
    width: 40%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
}
.header-text h1{

    font-family: "Rubik",sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 71.1px;
    text-align: left;

}
.header-text p{
    font-family: "Krub", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.24px;
    text-align: left;
    color: #f9f9f9;
    margin: 2rem 0 ;
}
@media (max-width: 769px) {
    .header-text{
        width: 95%;
    }
    .header-text h1{
        margin-top: 4rem;
        font-size: 32px;
        line-height: normal;
    }
    .header-text p{
        font-size: 17px;
        line-height: normal;

    }
}