.contacts-container {

    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--color-accent-dark);
    color: var(--color-accent);
    text-align: center;
}

.contacts-header h1 {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 0.5rem;
}


.contacts-header p {
    color: var(--color-accent);
    margin-bottom: 2rem;
}

.contacts-info {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-item {
    width: 33.333%;
    text-align: center;
    color: var(--color-accent);
}
.contact-item  img{
    text-align: center;


}

.contact-item p {
    margin: 0.5rem 0;
    color: var(--color-accent);
}

.contacts-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contacts-form input,
.contacts-form textarea {
    width: 100%;
    padding: 18px;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    background-color: var(--color-highlight);
    color: var(--color-accent-dark);
    box-sizing: border-box;
}

.contacts-form input:placeholder-shown,
.contacts-form textarea:placeholder-shown {
    background-color: var(--color-accent-dark);
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
    color: var(--color-accent);
}

.contacts-form textarea {
    grid-column: 1 / span 2;
    resize: none;
}

.contacts-form button {
    grid-column: 1 / span 2;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-accent-dark);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contacts-form button:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-primary);
}

.status {
    color: var(--color-primary);
    margin-top: 1rem;
    text-align: center;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .contacts-container {
        width: 100%;
        padding: 0.8rem;
    }

    .contacts-form {
        display: flex;
        flex-direction: column;
    }

    .contacts-info {
        width: 100%;
        flex-direction: column;
    }

    .contact-item p {
        font-size: 14px;
    }
}
