:root {
    --color-primary: #FFBE34;
    --color-accent-dark: #091242;
    --color-accent: #f4f4f4;
    --color-highlight: #f9f9f9;
}

.contacts-container {

    margin: auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--color-accent-dark);
    color: var(--color-accent);
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.contacts-header h1 {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 0.5rem;
}


.contacts-header p {
    color: var(--color-accent);
    margin-bottom: 2rem;
}

.contacts-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.contact-item {
    text-align: center;
    color: var(--color-accent);
}

.contact-item p {
    margin: 0.5rem 0;
    color: var(--color-accent);
}

.contacts-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contacts-form input,
.contacts-form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-highlight);
    color: var(--color-accent-dark);
    box-sizing: border-box;
}

.contacts-form textarea {
    grid-column: 1 / span 2;
    resize: none;
}

.contacts-form button {
    grid-column: 1 / span 2;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-accent-dark);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contacts-form button:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-primary);
}

.status {
    color: #21C065;
    margin-top: 1rem;
    text-align: center;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .contacts-form {
        grid-template-columns: 1fr;
    }

    .contacts-info {
        flex-direction: column;
    }
}
