@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');

/* Container styling */
.service-com-container {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
    color: #2a2a2a;
    font-family: "Rubik", sans-serif;
    background-color: var(--color-accent-dark);
}

/* Title and description */
.service-com-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-primary) !important;
}

.service-com-description {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 2rem;
}

/* Service grid */
.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .service-com-title {
        font-size: 2rem; /* Adjusted font size for smaller screens */
    }

    .service-com-description {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }

    .service-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
}

/* Service item styling */
.service-item {
    background-color: var(--color-highlight);
    border: 1px solid #eaeaea;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.service-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling with different colors */
.service-title {
    color: #FFB82B; /* Blue for service titles */
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 29.63px;
    text-align: left;
    font-size: 1.5rem;
}

.service-title:hover {
    color: var(--color-accent);
}

/* Service description */
.service-description {
    font-size: 0.9rem;
    color: #495057;
}

