/*Contacts page*/
.contacts-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    margin: auto;
}

.contacts-heading {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.contacts-description {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}
/*Contacts page*/

/*Job Page*/

.job-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.job-heading {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.job-description {
    font-size: 1.2rem;
    color: #004080;
    text-align: center;
    margin-bottom: 30px;
}


/*Not found 404*/

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #f8d7da; /* Light red background */
    text-align: center;
    color: navy; /* Dark red text */

}

.not-found-heading {
    font-size: 5rem;
    margin-bottom: 20px;
}

.not-found-message {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: navy;
}

.go-home-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #d40067; /* Blue background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-home-button:hover {
    background-color: #a50050; /* Darker blue on hover */
}


/*Not found 404*/

/*Job Page*/
