:root {
    --color-primary: #FFBE34; /* Primary 1 */
    --color-accent-dark: rgba(10, 24, 56, 0.95); /* Primary 2 */
    --color-accent: #666C89; /* Paragraph Font Color */
    --color-highlight: #1C1F35; /* Heading Font Color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    gap: 1rem;
    width: 100%;
    background-color: var(--color-accent-dark); /* Using accent dark color */
    color: #F4F4F4; /* Light text */
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin:auto;
}

.footer-left {
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-logo {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--color-primary); /* Using primary color */
}

.footer-description {
    margin-bottom: 20px;
    color: var(--color-accent); /* Using accent color */
}

.footer-contact p {
    margin: 5px 0;
    color: var(--color-accent); /* Using accent color */
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-between;
}

.links-section {
    margin-right: 40px;
}

.links-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--color-primary); /* Using highlight color */
}

.links-section ul {
    list-style: none;
}

.links-section ul li {
    margin-bottom: 10px;
}

.links-section ul li a {
    color: var(--color-accent); /* Using accent color */
    text-decoration: none;
}

.links-section ul li a:hover {
    color: #FFFFFF; /* Hover color remains white for contrast */
}

/* Responsive styling */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links {
        width: 100%;
        display: block;
    }

    .footer-left, .links-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
