:root {
    --color-primary: #FFB82B;
    --color-accent-dark: rgba(23, 37, 90, 0.8);
    --color-accent: #EDF2F4;
    --color-highlight: #8D99AE;
}

.faq-container {
    padding: 2rem;
    background-color: var(--color-accent-dark);
    color: var(--color-accent);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    margin: auto;
}
.faq-link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faq-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.faq-title {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ask-button {
    color: var(--color-accent) !important;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    align-self: flex-start;
    text-transform: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background: var(--color-primary) !important;
    transition: background-color 0.3s, color 0.3s;
}

.ask-button:hover {
    background-color: var(--color-accent-dark) !important;
    color: white;
}

.accordion-root {
    background-color: transparent;
    color: var(--color-highlight);
    border-bottom: 1px solid var(--color-highlight);
}

.accordion-summary-content {
    font-weight: bold;
}

.accordion-expand-icon {
    color: var(--color-highlight);
}

.accordion-details {
    color: var(--color-highlight  ) !important;
}
.accordion-root:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: var(--color-accent-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--color-accent);

}
