* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for WebKit browsers */
}
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f4f4f4;
}

.app{
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.main-app{
    margin-top: 20vh;
}
@media (max-width: 769px) {

        h1,h2,h3,h4,h5,h6{
            margin-top: 1rem;
            font-size: 32px;
        }
        p{
            font-size: 17px;
        }
}