* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for WebKit browsers */
}

body {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background: url("public/assets/pexels-lkloeppel-577696.jpg") no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.app {
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.main-app {
    margin-top: 20vh;
    background: transparent !important;

}

@media (max-width: 769px) {

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1rem;
        font-size: 32px;
    }

    p {
        font-size: 17px;
    }
}